@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 27 27 27;
    --foreground: 225 225 225;
    --muted: 115 115 115;
    --accent: 254 254 91;
    --font: 255 255 255;
  }
}


@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@layer components {
  .project-background {
    background: linear-gradient(180deg, #8EB1FF, #FDC6DC);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .header-font-style {
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: #FDC6DC;
  }

  .about-background {
    background-image: url('/background/about-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 0px;
  }

  .custom-class {
    padding: 2rem; /* p-8 */
    background-color: rgba(255, 255, 255, 0.1); /* bg-white/10 */
    border: 1px solid rgba(255, 255, 255, 0.3); /* border border-white/30 */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); /* shadow-xl */
    backdrop-filter: blur(12px); /* backdrop-blur-md */
    color: #ffffff; /* text-white */
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .animate-gradient {
    background: linear-gradient(90deg, #ff6363, #ffa6a6, #ff6363);
    background-size: 200% 200%;
    animation: gradient-animation 3s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }  
  
}